:root {
    --primary-color: #e2001a;
    --secondary-color: #2d3239;
    --text-color: #2d3239;
    --bg-color: #f4f6f9;
    --sidebar-bg: #ffffff;
    --header-bg: #ffffff;
    --card-bg: #ffffff;
    --border-color: #e0e0e0;
    --font-family: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--bg-color);
}